{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block content %}
<div>

    <div>
        <form action="/add_products" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Product Name</label>
                <input type="text" name="product_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                <input type="number" name="buying_price" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Selling Price</label>
                <input type="number" name="selling_price" class="form-control" id="exampleInputPassword1">
            </div>
           
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>

    <div>
        <table>
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                {% for i in products %}
                <tr>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    
</div>

{% endblock %}